@import "~@angular/material/theming";
@import "./app/multi-line-option/multi-line-option-theme";

$config: mat-typography-config();

@include mat-core($config);
@include multi-line-option-typography($config);

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-theme: mat-light-theme($app-primary, $app-accent);

@include angular-material-theme($app-theme);
@include multi-line-option-theme($app-theme);
